<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><%= title %></h1>

    <br><br>
 
    <div>
       <h2>Yaaay!, your post has been created</h2>
       <button><a href="/">Go back to home ></a></button>
    </div>
</body>
</html>